__pycache__/thermalViewer.cpython-37.pyc
__pycache__/serialMock.cpython-37.pyc
__pycache__/mainWindowUi.cpython-37.pyc
__pycache__/mainWindow.cpython-37.pyc
.idea/workspace.xml
.idea/vcs.xml
.idea/workspace.xml
__pycache__/mainWindow.cpython-37.pyc

